@import "styles/variables/colors.scss";

.modal_close {
    display: flex;
    justify-content: end;
    padding-top: 1.5rem;
    padding-inline: 1.5rem;
    background-color: $white;
}

.modal_card {
    border: 10px;
}